name: CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Puxar código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Instalar dependências
        run: yarn install --frozen-lockfile

      - name: Build da aplicação
        run: yarn build

      - name: Build e subir Docker
        run: docker compose up -d
